<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>This is the vehicle score page</p>

    <p>Your score is <%=score%></p>
</body>

</html>